In [39]:
# Importing variables
import pandas as pd
from pandas.io import sql
from sqlalchemy import create_engine

## Extracting CSV into DataFrame

In [40]:
datafiniti_file = "./Resources/Datafiniti_Pizza.csv"
datafiniti_df = pd.read_csv(datafiniti_file)
datafiniti_df.head()

,id,dateAdded,dateUpdated,address,categories,primaryCategories,city,country,keys,latitude,...,menus.currency,menus.dateSeen,menus.description,menus.name,name,postalCode,priceRangeCurrency,priceRangeMin,priceRangeMax,province
0,AVz3Y-7h3D1zeR_xDAqm,2017-06-30T05:05:40Z,2019-05-01T15:43:09Z,4203 E Kiehl Ave,"Pizza,Restaurant,American restaurants,Pizza Pl...",Accommodation & Food Services,Sherwood,US,us/ar/sherwood/4203ekiehlave/-1051391616,34.832300,...,USD,"2018-05-01T04:25:37.197Z,2018-04-16T04:36:02.3...",NaN,Cheese Pizza,Shotgun Dans Pizza,72120,USD,0,25,AR
1,AVweGPFF_7pvs4fzAAzQ,2016-04-02T04:02:49Z,2019-05-01T15:27:50Z,25 E Camelback Rd,"Pizza,Pizza Place,Restaurants",Accommodation & Food Services,Phoenix,US,us/az/phoenix/25ecamelbackrd/-727422936,33.509266,...,USD,"2018-03-03T02:38:06.381Z,2018-01-18T20:18:10.0...",NaN,Pizza Cookie,Sauce Pizza Wine,85012,USD,0,25,AZ
2,AVwdRGa9_7pvs4fz4E3K,2016-03-03T18:39:49Z,2019-05-01T12:52:25Z,3703 Paxton Ave,"Restaurant,Pizza Place,Restaurants",Accommodation & Food Services,Cincinnati,US,us/oh/cincinnati/3703paxtonave/-619797122,39.144883,...,USD,"2018-04-10T07:58:34.585Z,2018-04-21T05:43:21.4...",a saucelessampcomma double cheese pizza with a...,Pizza Blanca,Mios Pizzeria,45209,USD,0,25,OH
3,AVwdX4psIN2L1WUfvJB1,2016-03-29T05:08:59Z,2019-05-01T12:52:20Z,30495 John R Rd,"Pizza,Carry-out food,Pizza Place,Restaurants",Accommodation & Food Services,Madison Heights,US,us/mi/madisonheights/30495johnrrd/-874863116,42.516669,...,USD,"2016-10-20T21:50:02Z,2016-03-29T05:08:59Z",NaN,Small Pizza,Hungry Howies Pizza,48071,USD,25,40,MI
4,AVwdaeTtkufWRAb55pSH,2016-03-31T02:34:04Z,2019-05-01T12:50:45Z,3600 Eastern Ave,"Pizza,American restaurants,Pizza Place,Pizza e...",Accommodation & Food Services,Baltimore,US,us/md/baltimore/3600easternave/-1270965359,39.286630,...,USD,2016-03-31T02:34:04Z,NaN,Pizza Sub,Spartan Pizzeria,21224,USD,0,25,MD

In [41]:
pizza_dataset_file = "./Resources/Pizza_Dataset.csv"
pizza_df = pd.read_csv(pizza_dataset_file)
pizza_df.head()

,id,address,categories,city,country,keys,latitude,longitude,menuPageURL,menus.amountMax,...,menus.currency,menus.dateSeen,menus.description,menus.name,name,postalCode,priceRangeCurrency,priceRangeMin,priceRangeMax,province
0,AVwc_6KEIN2L1WUfrKAH,Cascade Village Mall Across From Target,Pizza Place,Bend,US,us/or/bend/cascadevillagemallacrossfromtarget/...,44.102665,-121.300797,NaN,22.50,...,USD,2016-03-31T02:19:42Z,NaN,Bianca Pizza,Little Pizza Paradise,97701,NaN,NaN,NaN,OR
1,AVwc_6KEIN2L1WUfrKAH,Cascade Village Mall Across From Target,Pizza Place,Bend,US,us/or/bend/cascadevillagemallacrossfromtarget/...,44.102665,-121.300797,NaN,18.95,...,USD,2016-03-31T02:19:42Z,NaN,Cheese Pizza,Little Pizza Paradise,97701,NaN,NaN,NaN,OR
2,AVwc_6qRByjofQCxkcxw,148 S Barrington Ave,"American Restaurant,Bar,Bakery",Los Angeles,US,us/brentwood/losangeles/148sbarringtonave/-151...,34.064563,-118.469017,NaN,12.00,...,USD,2015-10-23T03:57:26Z,NaN,"Pizza, Margherita",The Brentwood,90049,USD,50.0,55.0,Brentwood
3,AVwc_6qRByjofQCxkcxw,148 S Barrington Ave,"American Restaurant,Bar,Bakery",Los Angeles,US,us/brentwood/losangeles/148sbarringtonave/-151...,34.064563,-118.469017,NaN,13.00,...,USD,2015-10-23T03:57:26Z,NaN,"Pizza, Mushroom",The Brentwood,90049,USD,50.0,55.0,Brentwood
4,AVwc_6qRByjofQCxkcxw,148 S Barrington Ave,"American Restaurant,Bar,Bakery",Los Angeles,US,us/brentwood/losangeles/148sbarringtonave/-151...,34.064563,-118.469017,NaN,13.00,...,USD,2015-10-23T03:57:26Z,"Olives, onions, capers, tomatoes","Pizza, Puttenesca",The Brentwood,90049,USD,50.0,55.0,Brentwood

## Transforming Datafiniti_File

In [42]:
# Creating a filtered dataframe from specific columns

datafiniti_cols = ["id", "dateUpdated", "address", "categories", "city", "country",
                   "menus.description", "menus.name", "name", "postalCode", "priceRangeMin",
                   "priceRangeMax", "province"]

datafiniti_transformed = datafiniti_df[datafiniti_cols].copy()

# Renaming the column headers

datafiniti_transformed = datafiniti_transformed.rename(columns={"id": "SiteID", "dateUpdated": "DateUpdated",
                                                                "address": "Address", "categories": "Categories",
                                                                "city":"City","country":"Country", 
                                                                "menus.description": "Menu_Description",
                                                                "menus.name" : "Menu_Name", "name": "Name", 
                                                                "postalCode" : "Postal_Code", 
                                                                "priceRangeMin": "Price_Range_Min", 
                                                                "priceRangeMax": "Price_Range_Max",
                                                                "province" : "Province"})
# Setting the Index
datafiniti_transformed.set_index

# Reviewing 
datafiniti_transformed.head()

,SiteID,DateUpdated,Address,Categories,City,Country,Menu_Description,Menu_Name,Name,Postal_Code,Price_Range_Min,Price_Range_Max,Province
0,AVz3Y-7h3D1zeR_xDAqm,2019-05-01T15:43:09Z,4203 E Kiehl Ave,"Pizza,Restaurant,American restaurants,Pizza Pl...",Sherwood,US,NaN,Cheese Pizza,Shotgun Dans Pizza,72120,0,25,AR
1,AVweGPFF_7pvs4fzAAzQ,2019-05-01T15:27:50Z,25 E Camelback Rd,"Pizza,Pizza Place,Restaurants",Phoenix,US,NaN,Pizza Cookie,Sauce Pizza Wine,85012,0,25,AZ
2,AVwdRGa9_7pvs4fz4E3K,2019-05-01T12:52:25Z,3703 Paxton Ave,"Restaurant,Pizza Place,Restaurants",Cincinnati,US,a saucelessampcomma double cheese pizza with a...,Pizza Blanca,Mios Pizzeria,45209,0,25,OH
3,AVwdX4psIN2L1WUfvJB1,2019-05-01T12:52:20Z,30495 John R Rd,"Pizza,Carry-out food,Pizza Place,Restaurants",Madison Heights,US,NaN,Small Pizza,Hungry Howies Pizza,48071,25,40,MI
4,AVwdaeTtkufWRAb55pSH,2019-05-01T12:50:45Z,3600 Eastern Ave,"Pizza,American restaurants,Pizza Place,Pizza e...",Baltimore,US,NaN,Pizza Sub,Spartan Pizzeria,21224,0,25,MD

## Transforming Pizza_Dataset_File

In [43]:
# Creating a filtered dataframe from specific columns

pizza_dataset_cols = ["id", "keys", "latitude", "longitude"]

pizza_dataset_transformed = pizza_df[pizza_dataset_cols].copy()

# Renaming the column headers

pizza_dataset_transformed = pizza_dataset_transformed.rename(columns={"id": "SiteID", "keys":"Key", 
                                                                      "latitude": "Latitude", 
                                                                      "longitude":"Longitude"})

# Setting the Index
pizza_dataset_transformed.set_index

# Reviewing
pizza_dataset_transformed.head()

,SiteID,Key,Latitude,Longitude
0,AVwc_6KEIN2L1WUfrKAH,us/or/bend/cascadevillagemallacrossfromtarget/...,44.102665,-121.300797
1,AVwc_6KEIN2L1WUfrKAH,us/or/bend/cascadevillagemallacrossfromtarget/...,44.102665,-121.300797
2,AVwc_6qRByjofQCxkcxw,us/brentwood/losangeles/148sbarringtonave/-151...,34.064563,-118.469017
3,AVwc_6qRByjofQCxkcxw,us/brentwood/losangeles/148sbarringtonave/-151...,34.064563,-118.469017
4,AVwc_6qRByjofQCxkcxw,us/brentwood/losangeles/148sbarringtonave/-151...,34.064563,-118.469017

## Creating database connection

In [44]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\rafa7\anaconda3\lib\site-packages (2.8.6)
Note: you may need to restart the kernel to use updated packages.

In [45]:
connection_string = "postgres:Postgress@localhost:5432/etl_pizza"
engine = create_engine(f'postgresql://{connection_string}')

In [46]:
# Confirm tables
engine.table_names()

['Pizza_Dataset', 'Datafiniti_Pizza']

# Loading DataFrames into database

In [54]:
pizza_dataset_transformed.to_sql(name='Pizza_Dataset', con=engine)

ValueError: Table 'Pizza_Dataset' already exists.

In [53]:
datafiniti_transformed.to_sql(name='Datafiniti_Pizza', con=engine)

ValueError: Table 'Datafiniti_Pizza' already exists.